@using PagedList.Mvc;
@using System.Security.Policy;

    @helper Truncate(string input, int length)
{

    if (input.Length <= length)
    {
        @input
    }

    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@helper date()
{
<script>

    $(function () {
        $("#datepicker").datepicker({
            altField: "#datepicker",
            closeText: 'Fermer',
            prevText: 'Précédent',
            nextText: 'Suivant',
            currentText: 'Aujourd\'hui',
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
            dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
            weekHeader: 'Sem.',
            dateFormat: 'dd/mm/yy'
        });
    });
    // var firstDay = $( "#datepicker" ).datepicker( "option", "firstDay" ); // marche pas
    // $( "#datepicker" ).datepicker( "option", "firstDay", 1 ); // premier jour à lundi
    // $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] ); // texte en french marche pas
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
    }

@*@helper buton()
{
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-save"></span> Enregistrer la modification
                </button>

                <a href="@System.Security.Policy.Url.Action("Index")" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span> Annuler
                </a>

            </div>
        </div>
 }*@